<div class="container">
	<div>

		<h4>Balance:</h4>

		<table>
			<tr>
				<td style="width: 10%">Balance del Año:</td>
				<td style="width: 20%">
					<select class="form-control" [(ngModel)]="statusFilter" name=periodFilter (change)="onChange($event.target.value)">
						<option *ngFor="let c of periods" [ngValue]="c.id">{{c.name}}</option>
					</select>
				</td>
				<td style="width: 40%"></td>
			</tr>
		</table>
		<br>

		<h4>Ingresos del club</h4>
		<h5>Aportes de los socios</h5>
		<table class="table table-sm">
			<thead>
				<tr>
					<th style="width: 6%">Ene</th>
					<th style="width: 6%">Feb</th>
					<th style="width: 6%">Mar</th>
					<th style="width: 6%">Abr</th>
					<th style="width: 6%">May</th>
					<th style="width: 6%">Jun</th>
					<th style="width: 6%">Jul</th>
					<th style="width: 6%">Aug</th>
					<th style="width: 6%">Sep</th>
					<th style="width: 6%">Oct</th>
					<th style="width: 6%">Nov</th>
					<th style="width: 6%">Dic</th>
					<th style="width: 10%">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let payment of paymentControl">
					<td>
						{{payment.jan}}
					</td>
					<td>
						{{payment.feb}}
					</td>
					<td>
						{{payment.mar}}
					</td>
					<td>
						{{payment.apr}}
					</td>
					<td>
						{{payment.may}}
					</td>
					<td>
						{{payment.jun}}
					</td>
					<td>
						{{payment.jul}}
					</td>
					<td>
						{{payment.aug}}
					</td>
					<td>
						{{payment.sep}}
					</td>
					<td>
						{{payment.oct}}
					</td>
					<td>
						{{payment.nov}}
					</td>
					<td>
						{{payment.dec}}
					</td>
					<td>
						<mark>{{payment.total}} S/</mark>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>

	<h4>Otros ingresos </h4>

	<table class="table-condensed">
		<thead>
			<tr>
				<th class="col-sm-1">Tipo de ingreso</th>
				<th class="col-sm-2">Total</th>

			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let payment of incomesByType">
				<td>
					{{definirTipoIngresos(payment.type)}}
				</td>
				<td>
					{{payment.amount}}
				</td>

			</tr>
		</tbody>
	</table>

	<h5>
		<mark>Total de ingresos: {{viewIncomessPerPeriod}} S/</mark>
	</h5>

	<br>

	<h4>Gastos del club</h4>
	<table class="table-condensed">
		<thead>
			<tr>
				<th class="col-sm-1">Tipo de gasto</th>
				<th class="col-sm-2">Total</th>

			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let payment of expendituresByType">
				<td>
					{{definirTipoGastos(payment.type)}}
				</td>
				<td>
					{{payment.amount}}
				</td>

			</tr>
		</tbody>
	</table>

	<h5>
		<mark>Total de gastos: {{viewExpendituresPerPeriod}} S/</mark>
	</h5>
	<br>

	<h4>Balance</h4>
	<mark>
		{{viewIncomessPerPeriod + getPaymentBalanceByPeriodTotals(paymentControl) - viewExpendituresPerPeriod}} S/</mark>

</div>