<div class="col-md-6 col-md-offset-3">
	<h4>
		Registro de Socios
	</h4>

	<form data-toggle="validator" role="form" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>

		<div class="form-group" [ngClass]="{ 'has-error': f.submitted }">
			<input type="hidden" class="form-control" name="id" [(ngModel)]="member.id" #id="ngModel" value="{{member.id}}" />
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted  && !status.valid}">
			<label for="status">Estado</label> <select class="form-control" [(ngModel)]="member.status" name=status #status="ngModel">
				<option *ngFor="let c of statuses" [ngValue]="c.id">{{c.name}}</option>
			</select>
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
			<label for="firstname">Nombre</label> <input type="text" class="form-control" name="firstname" [(ngModel)]="member.firstname"
			 #firstname="ngModel" required value="{{member.firstname}}" />
			<div *ngIf="f.submitted && !firstname.valid" class="help-block">Nombre es requerido</div>
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
			<label for="lastname">Apellido</label> <input type="text" class="form-control" name="lastname" [(ngModel)]="member.lastname"
			 #lastname="ngModel" required value="{{member.lastname}}" />
			<div *ngIf="f.submitted && !lastname.valid" class="help-block">Apellido es requerido</div>
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !dob.valid}">
			<label for="dob">Fecha de Nacimiento [MM/DD/YYYY]</label> <input type="date" class="form-control" name="dob"
			 required [ngModel]="member.dob | date: 'yyyy-MM-dd'" #dob="ngModel" required (ngModelChange)="dateChanged1($event)" />
			<div *ngIf="f.submitted && !dob.valid" class="help-block">La fecha de nacimiento es obligatorio</div>
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !datestart.valid}">
			<label for="datestart">Fecha de Ingreso [MM/DD/YYYY]</label> <input type="date" class="form-control" name="datestart" 
			 required [ngModel]="member.datestart | date: 'yyyy-MM-dd'" #datestart="ngModel" required (ngModelChange)="dateChanged2($event)" />
			<div *ngIf="f.submitted && !datestart.valid" class="help-block">La fecha de ingreso es obligatorio</div>
		</div>
		
		<img id="preview_image" [src]="'http://localhost:3000/api/containers/members/download/' + member.photoname" alt="your image"
		 width="200px" height="200px" />

		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !photoname.valid}">
			<label class="btn btn-info" for="photoname">Adjuntar Foto de Integrante

				<input type='file' name="photoname" [(ngModel)]="member.photoname"  #photoname="ngModel" accept="image/*" (change)="onFileChanged($event)" style="display:none;">

			</label>
			<span>{{member.photoname}}</span>
		</div>
		<div class="form-group">
			<button type="submit" [disabled]="loading" class="btn btn-primary">Guardar</button>
			<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			<a [routerLink]="['/member.list']" class="btn btn-link">Regresar</a>
		</div>
	</form>
</div>